@model RecGames.Models.Game

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Game</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ControllersSupported)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ControllersSupported)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Platforms)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Platforms)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Developers)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Developers)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Publishers)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Publishers)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Genre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Genre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LaunchDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LaunchDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalAchievements)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalAchievements)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Recommendations)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Recommendations)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MetacriticScore)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MetacriticScore)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
