@{
    ViewBag.Title = "Home Page";
}

<div ng-app="RecGamesApp" class="recgames-body">
    <div ui-view></div>
</div>

@section scripts {
    @Scripts.Render("~/Scripts/angular.min.js")
    @Scripts.Render("~/Scripts/angular-ui-router.min.js")
    @Scripts.Render("~/Scripts/angular-local-storage.min.js")
    @Scripts.Render("~/Scripts/ngprogress.min.js")
    @Scripts.Render("~/Scripts/app/app.js")
    @Scripts.Render("~/Scripts/app/controllers/steamid-controller.js")
    @Scripts.Render("~/Scripts/app/controllers/player-controller.js")
    @Scripts.Render("~/Scripts/app/services/player-factory.js")
    @Scripts.Render("~/Scripts/app/controllers/game-controller.js")
    @Scripts.Render("~/Scripts/app/services/game-factory.js")
    @Scripts.Render("~/Scripts/app/fixed_recommendation_text.js")
}